<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eleme.mapper.user.UserMapper">
    <resultMap type="com.eleme.domain.user.MartUser" id="BaseResultMap">
        <id column="USER_ID" property="userId" jdbcType="INTEGER"/>
        <result column="USER_NAME" property="userName" jdbcType="VARCHAR"/>
        <result column="USER_PSWD" property="userPswd" jdbcType="VARCHAR"/>
        <result column="REAL_NAME" property="realName" jdbcType="VARCHAR"/>
        <result column="MOBILE_PHONE" property="mobilePhone" jdbcType="VARCHAR"/>
        <result column="USER_SEX" property="userSex" jdbcType="INTEGER"/>
        <result column="USER_AGE" property="userAge" jdbcType="INTEGER"/>
        <result column="USER_SID" property="userSid" jdbcType="VARCHAR"/>
        <result column="USER_ADDR" property="userAddr" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="FeedbackResultMap" type="com.eleme.domain.user.UserFeedback">
        <result column="USER_ID" property="userId" jdbcType="INTEGER"/>
        <result column="USER_NAME" property="userName" jdbcType="VARCHAR"/>
        <result column="FEEDBACK_TIME" property="feedbackTime" jdbcType="TIMESTAMP"/>
        <result column="FEEDBACK_CONTENT" property="feedbackContent" jdbcType="VARCHAR"/>
        <result column="REPLY_TIME" property="replyTime" jdbcType="TIMESTAMP"/>
        <result column="REPLY_CONTENT" property="replyContent" jdbcType="VARCHAR"/>
        <result column="IS_REPLY" property="isReply" jdbcType="INTEGER"/>
    </resultMap>

    <select id="selectMartUserByUserName" resultMap="BaseResultMap">
		select USER_ID, USER_NAME, USER_PSWD, REAL_NAME, MOBILE_PHONE,
		USER_SEX, USER_AGE, USER_SID, USER_ADDR
		from M_MART_USERS
		where USER_NAME = #{userName}
	</select>

    <insert id="insertMartUser">
		insert into M_MART_USERS(USER_NAME, USER_PSWD, REAL_NAME, MOBILE_PHONE,
		USER_SEX, USER_AGE, USER_SID, USER_ADDR)
		values
		(#{userName}, #{userPswd}, #{realName}, #{mobilePhone},
		#{userSex}, #{userAge}, #{userSid}, #{userAddr})
	</insert>

    <update id="updateMartUser" parameterType="com.eleme.domain.user.MartUser">
		UPDATE M_MART_USERS
		SET REAL_NAME = #{realName},MOBILE_PHONE = #{mobilePhone},
		USER_AGE = #{userAge},USER_SID = #{userSid},USER_ADDR = #{userAddr}
		where USER_ID = #{userId}
	</update>

    <insert id="insertUserFeedback">
		INSERT INTO T_USER_FEEDBACK(USER_ID, USER_NAME, FEEDBACK_TIME, FEEDBACK_CONTENT)
		VALUES (#{userId}, #{userName}, #{feedbackTime}, #{feedbackContent})
	</insert>

    <select id="selectUserFeedbackList" resultMap="FeedbackResultMap">
		SELECT *
		FROM T_USER_FEEDBACK
		WHERE USER_ID = #{userId}
		order by FEEDBACK_TIME desc
		limit ${startRecord},${pageSize}
	</select>

    <select id="selectUserFeedbackListCount" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM T_USER_FEEDBACK
		WHERE USER_ID = #{userId}
	</select>

    <update id="updateMartUserToChangePassword">
		UPDATE M_MART_USERS
		SET USER_PSWD = #{newPwd}
		where USER_ID = #{userId}
	</update>
</mapper>
