<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eleme.mapper.loan.LoanMapper">

	<select id="selectAppLoanTotalNumber" resultType="java.lang.Integer">
		select count(*)
		from T_APPLY_LOAN
		where DOC_STATUS = 0
	</select>
	
	<insert id="insertIntoApplyLoan">
		insert into T_APPLY_LOAN(FP_ID, LOAN_AMOUNT, USER_ID, SUBMIT_TIME,
		APP_STATUS, DOC_NO)
		values (#{fpId}, #{loanAmount}, #{userId}, #{submitTime},
		#{appStatus}, #{docNo})
	</insert>
	
</mapper>